#Cart {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

#Cart h1 {
  margin-top: 10px;
}

#Cart .shopping-cart-total {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#Cart .shopping-cart-item {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 10px;
}
