#Store {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

#Store .Item {
  background-color: #f7f7f7;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

#Store .Item img {
  width: 200px;
  background-color: #fff;
}

#Store .Item .info {
  padding-left: 15px;
}

#Store .Item h2 {
  margin-top: 0;
}
